

*{

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {

  
  width:  100%;
  max-height: 100%;
}


.image_container {


  margin: 40px auto ;
background-color: #EEE;

margin-bottom: 20px;
  width: 500px;
  height: 300PX;

position: relative;

/* overflow: hidden; */

}


.image_container img {

  position: absolute;



  
  opacity: 0;
}

.image_container img.active {
  
  opacity: 1;
}


.slideNum {
  
  z-index: 2;
background-color: rgba(0, 0, 0, 0.486);
color: white;
border-radius: 8px;
padding: 10PX;
  position: absolute;
  top: 5px;
  left: 5px;




}



.slider_controls {

  width: 500px;
  margin: 0px auto;

  padding: 10px;
  display: flex;

  justify-content: space-between;



}

.slider_controls ul {

  display: flex;
  list-style: none;
}


.slider_controls span:not(:nth-child(2)){
  
  
  padding: 5px 15px;
  
  color: white;
  border-radius: 5px;
  
  background-color: rgb(14, 106, 14);
  
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;

  font-weight: bold;

  transition: .3s;
  &:hover {
color: #838383;

    
  }
}


.slider_controls .pervious {
  
  
}






.slider_controls .next { 
  
  
  
  
}



.disabledButton {

opacity: .6;
cursor: default;

}


.slider_controls ul li {

  padding: 5px 8px;
border-radius: 4px;
  margin-left: 10px;

cursor: pointer;

transition: .2s;

font-weight: bold;
font-size: 20px;

user-select: none;

}



.slider_controls ul li:hover{

  background-color:rgb(14, 106, 14);
  color: white;

  
}

.slider_controls ul li.active {
  
  background-color:rgb(14, 106, 14);
  color: white;


}





